@import url('https://rsms.me/inter/inter.css');
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

:root {
  --background-main: #edf4f7;
  --background-side: #f4f8fa;
  --primary-blue: #32444d;
  --secondary-blue: #b3c3cc;
  --primary-orange: #ff6719;
  --secondary-orange: #feada6;
  --primary-green: #99E8E6;
  --primary-white: #E8E7E4;
}


body {
  font-family: Inter;
  font-size: 16px;
  line-height: 1.5;

  // background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;

}

h1 {
  color: var(--primary-blue);
  font-size: 70px;
  font-weight: 700;
  text-decoration: underline;
}

h2 {
  color: white;
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 0;
}

h3 {
  color: white;
  font-size: 18px;
}

h4 {
  color: #547282;
  font-size: 12px;
}

.highlight {
    background-color: rgba(121, 161, 181, 0.9);
    /* background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%); */
}

a {
  color: var(--secondary-orange);
  text-decoration: none;
}

a:hover {
  color: white;
  // background-color: pink;
  font-style: italic;
  text-decoration: none;
}

.button {
  background-color: pink;
  color: white;
  padding: 5px 10px;
  margin-left: 20px;
  border-radius: 5px;
  border: 0px solid #34c1e5;
}

.button:hover {
  background-color: #F2ED91;
  color: white;
}

.message {
  width: 450px;
  overflow-wrap: break-word;
}

.textbox-style {
  padding: 5px;
  margin-left: 20px;
  width: 200px;
  border-radius: 10px;
  border: none;
}

.messagebox-style {
  padding: 10px;
  margin-left: 20px;
  height: 100px;
  width: 350px;
  border-radius: 10px;
  border: none;
  overflow: break-word;
  resize: none;
}

mark {
  color: pink;
  background-color: white;
}

.navbar {
  // overflow: hidden;
  // background-color: white;
  position: fixed;
  top: 0;
  right: 20px;
  width: 40%;
}

.navlogin {
  // overflow: hidden;
  // background-color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 5px;
  width: 50%;
}

form {
  float: left;
  clear: right;
}

.post {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  width: 450px;
  height: 200px;
  box-shadow: 10px 12px;
  overflow: scroll;
}

.post .message {
  font-size: 18px;
}


// input[type=text]  {
//   height: 100px;
// }

// p {
//   float: left;
//   margin-top: 0;
//   margin-bottom: 10;
// }
